<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Timeout</title>
	<script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
	<script>
		var app = angular.module('myApp',[]);
		
		app.controller('myController',function($scope, $http){
			
			$scope.sendToServer = function() {
				
				var obj = { fullname: $scope.fullname,
						   	phone: $scope.phone
						  };
				
				$http.post('server/?q=newContact',obj).then(function(response){
					
					console.log( response.data );
					
				});
				
			}

		});
	</script>
</head>
<body>

	<div ng-controller="myController">

		Enter your name 
		<input type="text" ng-model="fullname" >
		
		<br>
		
		Enter your phone
		<input type="text" ng-model="phone" >
		
		<button ng-click="sendToServer()">Send</button>
		
	</div>
	

</body>
</html>